<mat-card class="card">
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input type="text" matInput placeholder="Nome do produto" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Valor do produto" [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Link da imagem do produto" [(ngModel)]="product.image" name="image">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="create()" color="primary"> Cadastrar</button>
    <button mat-raised-button (click)="cancel()"> Voltar</button>
</mat-card>
